.follow-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.follow-us-text {
    font-size: 16px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.insta-logo {
    width: 22px;
}

.instagram {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.logo-if {
    width: 64px;
}

.institute-name, .location, .institute-info {
    font-family: 'Inter', sans-serif;
}

.institute-name {
    text-align: center;
}

.location {
    font-weight: 900;
}
.institute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}