@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.home {
    background-color: black;
    
}

.image-cover {
    width: 100vw;
    height: 50vh;
}

.content-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    gap: 30px;
}

.welcome-text {
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 1.7rem;
    margin-left: 15px;    
}

@media only screen and (min-width: 1280px) {
    .columns {
        flex-direction: column;
    }

    .image-cover {
        width: 100%;
        height: 100%;
    }

    .content-welcome {
        margin: 20%;
        margin-top: 0%;
        margin-bottom: 0%;
        position: relative;
        bottom: 70px;
    }
}