.next-meeting {
    background-color: black;
    
}

.content-next-meeting {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 10px;
}

.next-meeting-title, .next-meeting-description {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

.next-meeting-title {
    font-size: 30px;
    font-weight: 700;
    
}

.next-meeting-description {
    font-size: 20px;
    font-weight: 400;

}

@media only screen and (min-width: 1280px) {
    .next-meeting {
        width: 35%;
        padding: 20px;
    }
}