.team {
    background-color: black;
}

.team-title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.info-member {
    margin-left: 10px;
    padding: 3px;
}

.member-photo {
    width: 37%;
    border-radius: 20px 0px 0px 20px;
}

.member-name, .member-function, .member-description {
    color: black;
}

.member-name {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    
}

.member-function {
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    position: relative;
    bottom: 10px;
}

.member-description {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 350;
    position: relative;
    bottom: 9px;
    line-height: normal;
    
}

.box-container {
    display: flex;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
}

@media only screen and (min-width: 1280px) {
    .team-members {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-container {
        width: 40%;
        
        
    }

    .member {
        width: 50%;
    }

    .members {
        flex-direction: row;
        
        
        
    }

    .box-container {
        width: 80%;
    }


    


}